<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>个人生活记录</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="fonts/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="css/animations.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>

<body class="no-trans">
    <div class="panel panel-info">
        <!-- Default panel contents -->
        <div class="panel-heading">生活点点滴滴</div>
        <!-- Table -->
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>日期</th>
                    <th>人物</th>
                    <th>事件</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>twitter</td>
                </tr>
            </tbody>
        </table>
        <div class="panel-footer">
            <div class="container">
                <div class="col-md-12" style="text-align:center;">
                    <a href="http://www.miitbeian.gov.cn/state/outPortal/loginPortal.action;jsessionid=o-BWk_jtHauS3NyFdyEzzidP8QC--EimEABjLD1ev-2qK0cNpdeb!1649116120#">
                        蜀ICP备18006831号
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="plugins/jquery.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="plugins/modernizr.js"></script>
    <script type="text/javascript" src="plugins/isotope/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="plugins/jquery.backstretch.min.js"></script>
    <script type="text/javascript" src="plugins/jquery.appear.js"></script>
    <script src="contact/jqBootstrapValidation.js"></script>
    <script src="contact/contact_me.js"></script>

    <!-- Custom Scripts -->
    <script type="text/javascript" src="js/custom.js"></script>
</body>
</html>