<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>WorkData</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="fonts/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="css/animations.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>

<body class="no-trans">
    <!-- scrollToTop -->
    <div class="scrollToTop"><i class="icon-up-open-big"></i></div>

    <!-- header start -->
    <header class="header fixed clearfix navbar navbar-fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4">

                    <!-- header-left start -->
                    <div class="header-left">

                        <!-- logo -->
                        <div class="logo smooth-scroll">
                            <a href="#banner"><img id="logo" src="images/logo.png" alt="WorkData"></a>
                        </div>

                        <!-- name-and-slogan -->
                        <div class="logo-section smooth-scroll">
                            <div class="brand"><a href="#banner">WorkData</a></div>
                        </div>
                    </div>
                    <!-- header-left end -->
                </div>
                <div class="col-md-8">

                    <!-- header-right start -->
                    <div class="header-right">

                        <!-- main-navigation start -->
                        <div class="main-navigation animated">

                            <!-- navbar start -->
                            <nav class="navbar navbar-default" role="navigation">
                                <div class="container-fluid">

                                    <!-- Toggle get grouped for better mobile display -->
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                    </div>

                                    <!-- Collect the nav links, forms, and other content for toggling -->
                                    <div class="collapse navbar-collapse scrollspy smooth-scroll" id="navbar-collapse-1">
                                        <ul class="nav navbar-nav navbar-right">
                                            <li class="active"><a href="#banner">主页</a></li>
                                            <li><a href="#services">服务</a></li>
                                            <li><a href="#contact">联系我们</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                            <!-- navbar end -->
                        </div>
                        <!-- main-navigation end -->
                    </div>
                    <!-- header-right end -->
                </div>
            </div>
        </div>
    </header>
    <!-- header end -->
    <!-- banner start -->
    <div id="banner" class="banner">
        <div class="banner-image"></div>
        <div class="banner-caption">
            <div class="container">
                <div class="row">
                    <div class="caption-data" style="margin-top: 0px; opacity: 1;" data-animation-effect="fadeIn">
                        <h1>WorkData 是什么?</h1>
                        <h3 class="padding-top30">一个Web可视化开发平台，请开始吧！</h3>
                        <div class="padding-top60 contact-form">
                            <button class="btn cta-button">更多</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- banner end -->
    <section class="hero-caption secPadding">

        <div class="container">

            <div class="row " style="margin-top: 0px;">
                <div class="col-sm-12">
                    <h2>欢迎来到 <strong>WorkData</strong> - <span>创作</span>、运行和发展您的业务.</h2>
                    <p>WorkData WorkData是一个轻量级，低级的框架，用于在.NET  Framework/Core构建服务。框架的目标是提供项目常用的基础设施功能 WorkData已经集成了Autofac，Ocelot网管，基于这些你可以做任意扩展</p>
                </div>
            </div>
        </div>
    </section>
    <!-- section start -->
    <section class="section secPadding">
        <div class="container no-view" data-animation-effect="fadeIn">
            <h1 id="services" class="title text-center">服务</h1>
            <div class="space"></div>
            <div class="row">
                <div class="col-md-4">
                    <div class="media block-list">
                        <div class="media-left">
                            <i class="fa fa-trophy"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">免费开源</h3>
                            <blockquote>
                                <p>在Github上开放源码（MIT许可证）</p>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="media block-list">
                        <div class="media-left">
                            <i class="fa fa-gear"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">功能扩展</h3>
                            <blockquote>
                                <p>WorkData内置部分基础模块(eg:Redis、ElasticSearch、RabbitMQ、Cms等)</p>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="media block-list">
                        <div class="media-left">
                            <i class="fa fa-laptop"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">可视化</h3>
                            <blockquote>
                                <p>提供一个基础Web可视化管理平台</p>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="row">
                <div class="col-md-4">
                    <div class="media block-list">
                        <div class="media-left">
                            <i class="fa fa-clock-o"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Web App</h3>
                            <blockquote>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur.</p>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="media block-list">
                        <div class="media-left">
                            <i class="fa fa-heart"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Mobile App</h3>
                            <blockquote>
                                <p>Forem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur.</p>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="media block-list">
                        <div class="media-left">
                            <i class="fa fa-magic"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Windows</h3>
                            <blockquote>
                                <p>Norem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur.</p>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
    </section>
    <!-- footer start -->
    <footer id="footer">

        <!-- .footer start -->
        <div class="footer section">
            <div class="container">
                <h1 class="title text-center" id="contact">联系我们</h1>
                <div class="space"></div>
                <div class="row">

                    <div class="col-sm-6">
                        <div class="footer-content">
                            <!--NOTE: Update your email Id in "contact_me.php" file in order to receive emails from your contact form-->

                            <form name="sentMessage" id="contactForm" novalidate>
                                <div class="control-group">
                                    <div class="controls">
                                        <input type="text" class="form-control"
                                               placeholder="姓名" id="name" required
                                               data-validation-required-message="请输入您的姓名" />
                                        <p class="help-block"></p>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <input type="email" class="form-control" placeholder="邮箱"
                                               id="email" required
                                               data-validation-required-message="请输入您的邮箱" />
                                    </div>
                                </div>

                                <div class="control-group">
                                    <div class="controls">
                                        <textarea rows="10" cols="100" class="form-control"
                                                  placeholder="留言" id="message" required
                                                  data-validation-required-message="请输入您的留言" minlength="5"
                                                  data-validation-minlength-message=""
                                                  maxlength="999" style="resize:none"></textarea>
                                    </div>
                                </div>
                                <div id="success"> </div> <!-- For success/fail messages -->
                                <button type="submit" class="btn btn-primary pull-right">提交</button><br />
                            </form>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="footer-content">

                            <div class="widget-content">

                                <p>WorkData 是一个免费开源的基础程序框架 </p><br />

                                <p class="contacts"><i class="fa fa-map-marker"></i> 四川省成都市 </p>

                                <p class="contacts"><i class="fa fa-envelope"></i> 1434335439@qq.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- .footer end -->
        <!-- .subfooter start -->
        <div class="subfooter">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-center">Copyright &copy; WorkData</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- .subfooter end -->
    </footer>
    <!-- footer end -->
    <!-- JavaScript -->
    <script type="text/javascript" src="plugins/jquery.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="plugins/modernizr.js"></script>
    <script type="text/javascript" src="plugins/isotope/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="plugins/jquery.backstretch.min.js"></script>
    <script type="text/javascript" src="plugins/jquery.appear.js"></script>
    <script src="contact/jqBootstrapValidation.js"></script>
    <script src="contact/contact_me.js"></script>

    <!-- Custom Scripts -->
    <script type="text/javascript" src="js/custom.js"></script>
</body>
</html>